:root {
    color: white;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: " ";
    background: no-repeat fixed center/100vw url(kathy-lee-ficHycZQPxE-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

div#content, header {
    position: relative;
}

div#content {
    flex-grow: 2;
}

header {
    flex-grow: 1;
}

div#content div {
    display: flex;
    flex-direction: column;
    align-items: center;
}