:root {
    color: white;
}

body {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body::before {
    content: " ";
    background: no-repeat fixed center/100vw url(kathy-lee-ficHycZQPxE-unsplash.jpg);
    width: 100vw;
    height: 100vh;
    opacity: 0.4;
    position: absolute;
    top: 0;
    left: 0;
}

div#content, header {
    position: relative;
}

div#content {
    flex-grow: 2;
}

header {
    flex-grow: 1;
}

div#content div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    appearance: none;
    font-family: inherit;
    font-size: 100%;
    width: 20%;
    height: 30px;
    margin: 0;
    padding: 5px;
    border: none;
    border-radius: 10px;
    background-color: rgb(213, 103, 0);
    transition-duration: 0.5s;
}

button:hover {
    background-color: black;
    color: rgb(213, 103, 0);
}